*{
  margin: 0;
  padding: 0;
  font-family: "poppins" sans-serif;
  box-sizing: border-box;
  font-size: 18PX;
}
body{
  background-color: rgba(0, 139, 139, 0.596);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 450px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
  padding-right: 20px;
}
h1{
text-align: center;
font-size: 30px;
text-transform: uppercase;
text-decoration: underline;
}
h6{
  text-align: center;
}
header{
  text-align: center;
}
header h1, h6, input{
  margin-bottom: 10px;
}
header input{
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 13px;
  padding: 5px;
}
hr{
  margin-bottom: 10px;
}

ul li{
  list-style: none;
  border-left: 2px solid black;
  margin: 10px;
  margin-bottom: 20px;
  padding: 10px;
  
}
ul li .delete{
  color: rgb(255, 255, 255);
  background-color: rgba(137, 43, 226, 0.568);
  padding: 5px;
  font-size: 12px;
  border-radius: 5px;
  float: right;
  cursor: pointer;
  transition: 0s ease-in-out;
}
ul li .delete:hover{
  background-color: rgb(226, 43, 58);
  color: white;
}
#books input ,button{
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 15px;
  padding: 5px;
}

.bk{
  font-size: 15px;
}
button{
  color:white;
  background-color: rgba(137, 43, 226, 0.692);
  cursor: pointer;
  transition: 1s ease-in-out;
}
.tabs li{
  display: inline-block;
  border: 1px solid;
  cursor: pointer;
  border-radius: 8px;
}
.tabs li:hover{
  color: white;
  background-color: black;
}

.content .panel{
  text-align: justify;
  display: none;
}
.content .aactive{
  display: block;
}
